<!DOCTYPE html>
  <html lang="en">
    <%- include ('../partials/common/head', { title:'SANGAI' }) %>
  <body onload="loadHomePage()">
    <nav class="navbar fixed-top navbar-light">
      <div class="navbar-header pull-left">
        <a class="navbar-brand text-white" href="#">SANGAI</a>
      </div>
      <div class="navbar-header pull-right" style="display: inline-block;">
        <% if(loggedInUser) { %>

          <div class="dropdown dropdown" style="display: inline-block ">
            <a class="nav-link p-1" href="#" id="notification" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i 
                class="material-icons" 
                id="notification_icon" 
                style="font-size: 20px; color: white;"
              >
                notifications
              </i>
              <span class="presence notification-dot" id="notification_dot"></span>
            </a>
            <div 
              class="dropdown-menu dropdown-menu-right scrollable-menu" 
              aria-labelledby="notification"
              id="notifications"
            >
            </div>
          </div>

          <div class="dropdown dropdown" style="display: inline-block">
            <a class="nav-link dropdown-toggle p-1" href="#" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <span class="text-white" id="currentUser">
                <%- loggedInUser.username %>
              </span>
            </a>
            <div 
              class="dropdown-menu dropdown-menu-right" 
              aria-labelledby="dropdownMenuButton"
            >
              <a class="dropdown-item" href="/logout"> Logout </a>
            </div>
          </div>
        <% } %>
      </div>
    </nav>    
    <div class="container-fluid">
      <% if (messages.success) { %>
        <%- include('../partials/components/alerts/success', { message: messages.success }) %>
      <% } %>
      <% if (messages.error) { %>
        <%- include('../partials/components/alerts/error', { message: messages.error }) %>
      <% } %>

      <div id="page-home" class="active">
        <div class="block">
          <div class="pt-2">
            <ul class="nav nav-tabs pt-0 pb-0">
              <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#chat_home_tab">
                  Chat
                </a>
              </li>
            </ul>
            <div class="tab-content">
              <div class="tab-pane active p-2" id="chat_home_tab">
                Users
                <ul id="usersList" class="list-unstyled">
                </ul>
                Chatrooms
                <ul id="chatroomsList" class="list-unstyled">
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div id="page-feed" class="inactive">
        <h1>Feed Page</h1>
      </div>

      <div id="page-create" class="inactive">
        <%- include('../partials/ecard.ejs') %>
      </div>

      <div id="page-account" class="inactive">
        <h2>Account Page</h2>
      </div>
    </div>
    <footer class="footer">
      <div id="buttonGroup" class="btn-group selectors" role="group" aria-label="Basic example">
        <button id="home" type="button" class="btn btn-secondary button-active">
          <div class="selector-holder">
            <i class="material-icons">home</i>
            <span>Home</span>
          </div>
         </button>
         <button id="feed" type="button" class="btn btn-secondary button-inactive">
            <div class="selector-holder">
              <i class="material-icons">view_list</i>
              <span>Feed</span>
            </div>
         </button>
         <button id="create" type="button" class="btn btn-secondary button-inactive">
            <div class="selector-holder">
              <i class="material-icons">create</i>
              <span>Create</span>
            </div>
         </button>
         <button id="account" type="button" class="btn btn-secondary button-inactive">
            <div class="selector-holder">
              <i class="material-icons">account_circle</i>
              <span>Account</span>
            </div>
         </button>
      </div>
    </footer>
    <script src="/script/ejs-3.1.5/lib/bundle.js"></script>
    <script src="/script/chat.js"></script>
    <script src="/script/notification.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script>
      const socket = io();
      let conversation_id = $('#currentUser').text().trim();
      socket.emit('subscribe', 'private_' +conversation_id);
      socket.emit('new_user', conversation_id);
      let stringifiedAllUsers = `<%- JSON.stringify(allUsers) %>`;
      let parsedAllUsers = JSON.parse(stringifiedAllUsers);
      let stringifiedAllChatrooms = `<%- JSON.stringify(chatrooms) %>`;
      parsedAllChatrooms = JSON.parse(stringifiedAllChatrooms);
      receiverUserName = '';
      chatType = 'user';
      var currentUser = $('#currentUser').text().trim();
    </script>
    <%- include('../partials/common/footer') %>
  </body>
</html>